body {
  font-family: Arial, sans-serif;
  background-color: #CBF3F0;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

h1 {
  color: black;
  text-align: center;
}

p {
  max-width: 800px;
  margin: 10px auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

strong {
  color: #2b2b2b;
}